
#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 30px;
}


img {
    object-fit: contain;
    margin: 2em;
}

.gundam-logo{
    background-color: transparent;
    margin: 0%;
    padding: 0%;
    width: 1em;
}

.inner-grid{
    display: flex;
    justify-content: space-evenly;
    background-color: #d3d3d3;
    margin: 20px;
    border-radius: 50px;
}




h2 {
    text-align: center;
    width:fit-content;
}




.heading{
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
 
}


button{
    background-color: #d3d3d3;
    font-size: 1rem;
}

.img:hover{
    background-color: white;
}

#face{
    justify-self: center;
    border-radius: 50px;
  
}

.quote {
    font-size: 2em;
    padding: 1em;
    padding-bottom: 0%;
    margin-bottom: 0%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 0%;
}

.content {
    margin: 1em;
    padding: 1em;
    background-color: #545454;
    border-radius: 50px;
    
}


#collapse{
    display: none;
}

