*{
    
    font-family: 'Kdam Thmor Pro', sans-serif;
}

body{
    margin: 0%;
    width: 100%;
    background-color: #b6b6b6;
}

#menu {

    z-index: 1;
    display:flex;
    list-style-type: none;
    text-align: center;
    justify-content: space-evenly;
    opacity: 100%;
    background-color: #222222;
    margin-top: 0%;
    width: 100%;
    margin-bottom: 0%;
    position:sticky;
    top:0px;
    padding-left: 0%;
    padding-right: 0%;
    opacity: 1;

}



#sub-menu {
    z-index: 1;
    display:flex;
    flex: 1,1,1;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
    opacity: 100%;
    background-color: #545454;
    margin-top: 0%;
    width: 100%;
    padding-left: 0%;
    margin-bottom: 0%;
}

.gundam-logo{
    background-color: transparent;
    margin: 0%;
    padding: 0%;
    width: 1em;
}


.page {
    color:white;
    font-size: 2em;
    background-color: #222222;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4.355vw;
    padding-right: 4.355vw;
}

.page:hover{
    background-color: black;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a {
    text-decoration: none;
}

.logo {
    height: 2em;
    background-color: #444a5a;
    padding-top: 5px;
    justify-self: end;
}

.heading{
    text-align: center;
    font-size: 3em;
    margin: 0%;
    padding: 0%;
}

.img{
    display: block;
    background-color: #545454;
    margin: 0%;
    padding-left: 15vw;
    padding-right: 15vw;
    width: 50px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.img:hover{
    background-color: white;
}


