<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hobbies.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
</head>
<body>
    <ul id="menu">
        <a href="/"><li class="logo-page"></li></a>
        <a href="/"><li class="page"><img class="gundam-logo" src="../static/img/gundam-logo.png"/> Home</li></a>
        <a href="/aboutme"><li class="page">About Me</li></a>
        <a href="/education"><li class="page">My Education</li></a>
        <a href="/hobbies"><li class="page">Hobbies</li></a>
        <a href="/projects"><li class="page">Projects</li></a>
        <a href="../static/pdf/Resume.pdf" onclick="return confirm('Would you like to open this file? This will be opened in another tab.')" target="_blank"><li class="page">Resume</li></a>
    </ul>
    <ul id="sub-menu">
        <a href="https://www.instagram.com/snickers983/"><li><img src="../static/img/instagram.png" class="img" /></li></a>
        <a href="https://www.linkedin.com/in/jeffrey-wang-904776236/"><li><img src="../static/img/linkedin.png" class="img" /></li></a>
        <a href="https://www.facebook.com/jeffrey.wang.5059/"><li><img src="../static/img/facebook.png" class="img" /></li></a>
    </ul>
</body>
</html>